<div ref="container" class="info-container">
  <div class="info-header">
    <div ref="controls" class="info-controls">
      <div>
        <span>Season:</span>
        <span ref="seasonNum"></span>
      </div>
      <div>
        <span>Episode:</span>
        <span ref="episodeNum"></span>
      </div>
    </div>
    <div class="info-title-container">
      <div ref="title" class="info-title">No Location Selected</div>
      <div ref="backButton" id="back-button">&#8592</div>
    </div>
  </div>
  <div ref="content" class="info-content"></div>
  <div ref="toggle" class="info-toggle"></div>
</div>