<div ref="container" class="info-container">
  <div class="info-header">
    <div ref="controls" class="info-controls">
      <div>
        <span>Season:</span>
        <select ref="control-season"></select>
      </div>
      <div>
        <span>Episode:</span>
        <select ref="control-episode"></select>
      </div>
    </div>
    <div ref="title" class="info-title">
      No Location Selected
    </div>
  </div>
  <div ref="content" class="info-content">some content</div>
  <div ref="toggle" class="info-toggle"></div>
</div>