@import '../../_variables.scss';

.info-title {
  font-family: $fontThrones;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: 10px 0px 5px;

  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
  }

  a.nostyle:hover {
    text-decoration: underline;
    color: inherit;
  }

  a.nostyle:visited {
    color: inherit;
  }
}

.info-content {
  display: none;
  overflow-y: scroll;

  h2 {
    font-family: $fontThrones;
    font-size: 16px;
    margin: 15px 0px 5px;
  }

  h3 {
    font-family: $fontThrones;
    font-size: 14px;
    margin: 15px 0px 5px;
  }

  div {
    font-size: 12px;
  }

  .characters-major {
    display: flex;
    flex-wrap: wrap;

    .character {
      width: 50px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }

    .character:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .thumbnail {
      max-height: 50px;
      max-width: 50px;
      border-radius: 50%;
    }
  }

  .character-img {
    max-width: 150px;
    max-height: 150px;
  }

  .character-info-item:hover {
    background-color: #ffc549;
    cursor: default;
  }
}

.info-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  cursor: pointer;
}

.info-toggle::after {
  position: absolute;
  left: 10px;
  bottom: -10px;
  display: inline-block;
  font-size: 30px;
  transform: scale(1.7,1);
  content: "\02C5";
}

.info-container {
  position: absolute;
  overflow-y: hidden;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #fff;
  padding: 10px 10px 25px;
  width: 250px;
  transition: height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
}

.info-container.info-active {
  height: calc(100vh - 110px);

  .info-content {
    display: block;
  }

  .info-toggle::after {
    content: "\02C4";
  }
}
