@import '../../_variables.scss';

.info-title {
  font-family: $fontThrones;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0px; 
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: 10px 0px 5px; 
}

.info-content {
  display: none;
  overflow-y: scroll;

  h2 {
    font-family: $fontThrones;
    font-size: 16px;
  }

  h3 {
    font-family: $fontThrones;
    font-size: 14px;
  }

  div {
    font-size: 12px;
  }

  .characters-major {
    display: flex;
    flex-wrap: wrap;

    .character {
      width: 50px;
      padding: 5px;
      text-align: center;
    }

    img {
      max-height: 50px;
      border-radius: 50%;
    }
  }
}

.info-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  cursor: pointer;
}

.info-toggle::after {
  position: absolute;
  left: 10px;
  bottom: -10px;
  display: inline-block;
  font-size: 30px;
  transform: scale(1.7,1);
  content: "\02C5";
}

.info-container {
  position: absolute;
  overflow-y: hidden;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #fff;
  padding: 10px 10px 25px;
  width: 250px;
  transition: height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
}

.info-container.info-active {
  height: calc(100vh - 55px);

  .info-content {
    display: block;
  }

  .info-toggle::after {
    content: "\02C4";
  }
}

