@import '../../_variables.scss';

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

  /** Leaflet Style Overrides **/
  .leaflet-control-attribution {
    display: none;
  }
  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
  }

  a.nostyle:hover {
    text-decoration: underline;
    color: inherit;
  }

  a.nostyle:visited {
      color: inherit;
  }
}

#my-gradient {
  --color-1: #a50303;
  --color-2: #000;
}

.map-icon {
  fill: url(#my-gradient) #000;
  // fill: #000;
}

.map-icon.active {
  fill: #a50303;
}

.map-icon.highlight {
  fill: #ffc549;
}
