@import '../../_variables.scss';

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

  /** Leaflet Style Overrides **/
  .leaflet-control-attribution {
    display: none;
  }
}

