@import '../../_variables.scss';

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

  .leaflet-popup-content {
    text-align: center;
  }
  
  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
  }

  a.nostyle:hover {
    text-decoration: underline;
    color: inherit;
  }

  a.nostyle:visited {
      color: inherit;
  }
}

#my-gradient {
  --color-1: #a50303;
  --color-2: #000;
}

.map-icon {
  fill: url(#my-gradient) #000;
}

.map-icon.active {
  fill: #100CB4;
}

.map-icon.highlight {
  fill: #ffc549;
}
