@import '../../_variables.scss';

#info-box-container {
 text-align: center; 
}

#character-container {
  font-family: $fontThrones;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
  background-color: #fff;

  img {
    max-width: 50px;
    max-height: 100px; 
  }

}

#close-btn {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666;
  font-weight: bold;
  cursor: pointer;
}

  #close-btn:hover {
    color: #222;
  }

.notification-popup {
  width: 75px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
  position: absolute;
  right: 140px;
  top: 10px;
  background-color: #ccc;
  color: #444;
  z-index: 1000;
}

#not-present-container {
  font-size: 10px;
}

.hide {
  display: none;
}